* {
  font-family: HelveticaÏ, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(rgba(173, 165, 179, 0.5), rgba(173, 165, 179, 0.5));
}

#title {
  font-size: 50px;
  text-align: center;
  color: grey;
  margin: 20px;
}

#tribute-info {
  font-size: 30px;
  text-align: center;
  color: grey;
  margin: 20px;
}

#image {
  display: block;
  max-width:100%;
  height:auto;
  width: 50%;
  margin: 0 auto;
}

#img-caption {
  text-align: center;
  font-size: 16px;
  color: white;
}

.timeline {
  color: white;
  font-size: 18px;
  display: table;
  margin: 0 auto;
  list-style: none;
}

.list-timeline {
  display: flex;
  color: white;
  list-style: none;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
}

.list-timeline li strong {
  color: grey;
}

#footer {
  color: grey;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

#tribute-link {
  color: white;
}
